__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage

# Documentation
site/

# Ruff
.ruff_cache/

# Documentation cache
.mkdocs_cache/

# Temporary files
*.tmp
*.temp
